.page-home {

  .header-video {
    // background-position: center;
    // background-repeat: no-repeat;
    // background-image: url('/assets/img/aj-logo.svg');
    // background-size: 100%;
  }
  .section-history {
    background-color: $lighter-grey;
    $nav-dot: 16px;

    .section-title {
      text-align: center;
      margin-top: 0;
    }

    .history-nav {
      position: relative;
      width: 80%;
      margin: auto;
      padding-top: 40px;
      &:before {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        top: #{($nav-dot/2)+50px};
        left: 0;
        height: 1px;
        background-color: black;
      }
      strong {
        display: block;
        &:before {
          display: block;
          font-size: 3rem;
          position: absolute;
          top: -10px;
        }
      }
    }
    .nav-item {
      margin-top: 20px;
      display: block;
      &:before {
        position: absolute;
        display: block;
        height: #{$nav-dot};
        width: #{$nav-dot};
        top: 50px;
        content: "";
        border-radius: 20px;
        background: black;
      }
      &:nth-child(2):before { left: calc(33.333333333333% - #{$nav-dot}); }
      &:nth-child(3):before { left: calc(66.666666666666% - #{$nav-dot}); }

      &:first-child {
        float: left;
        text-align: left;
        &:before { left: 0; }
        strong:before {
          left: -17px;
        }
      }
      &:last-child  {
        float: right;
        text-align: right;
        &:before { right: 0; }
        strong:before {
          right: -17px;
        }
      }
    }
    .tagline {
      clear: both;
      font-style: italic;
      padding: 22px 0;
      font-size: 110%;
      text-align: center;
    }
  }
  .section-map {
    color: $white;
    .map-address {
      border-radius: 20px;
      background-color: transparentize($grey-green, .3);
      width: 35%;
      max-width: 235px;
      padding: 10px 25px;
      margin: auto;
    }
  }
  .section-contact {
    .wrapper {
      padding: $gutter;
      color: $white;
      background-color: $grey-green;
      text-align: center;
    }
  }
}
