<div class="container">
  <div class="section-contact">
    <h1 class="section-headline">Contact</h1>
    <div class="wrapper">
      <h2 class="section-title">Let's Talk</h2>
      <p class="tagline">We love to talk shop, let's chat about your project</p>
      {{ insert form here }}
    </div>
  </div>
  <div class="section-map">
    <h1 class="section-headline">Stop by our place</h1>
    <aside class="map-address">
      <div itemscope itemtype="http://schema.org/LocalBusiness">
        <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <i class="icon icon-map--car"></i>
          <span itemprop="streetAddress">1245 Birchwood Drive</span><br>
          <span itemprop="addressLocality">Sunnyvale</span>,
          <span itemprop="addressRegion">CA</span>,
          <span itemprop="postalCode">94089</span>
        </p>
        <p itemprop="telephone">
          <i class="icon icon-map--phone"></i>
          408 400 9501
        </p>
      </div>
    </aside>
  </div>
</div>
<footer class="section-footer main-footer">
  <div class="container">
    <div class="wrapper">
      <h1 class="section-headline">A+J Product Solutions</h1>
      <nav class="footer-nav">
        <ol class="nav-items">
          <li class="nav-item"><a href="/services.html" class="nav-link">Services</a></li>
          <li class="nav-item"><a href="/about.html" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/case-study.html" class="nav-link">Case Studies</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        </ol>
      </nav>
      <p class="copyright">&copy; {{ site.title }} 2015</p>
    </div>
  </div>
  <aside class="footer-end">
    <p>
      The End
      <a href="#top" class="back-to-top">Back to Top</a>
    </p>
  </aside>
</footer>
