<header class="main-header">
  <span class="nav-icon">
    <i class="cross-hatch">&times;</i>
  </span>
  <div class="nav-wrapper">
    <nav class="nav-main">
      <ul class="nav-items">
        <li class="nav-item"><a href="/services/" class="nav-link" title="Learn about our Services">Services</a></li>
        <li class="nav-item"><a href="/about/" class="nav-link" title="Learn about us">About</a></li>
        <li class="nav-item"><a href="/case-study" class="nav-link" title="AJ Case Studies">Case Studies</a></li>
        <li class="nav-item"><a href="#" class="nav-link" title="Read our blog">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link" title="Contact us">Contact</a></li>
      </ul>
    </nav>
    <div class="nav-meta">
      <span class="icon-phone nav-phone">408-400-9501</span>
      <a href="#" class="btn-outline" title="Contact us">Contact</a>
    </div>
  </div>
  {% if page.url == "/" %}
    <section class="header-video">
      <img src="//placehold.it/640x480" class="hero-video" style="width: 100%;">
      AJ Product Solutions &amp; Prototypes Plus
    </section>
    <nav class="nav-header">
      <ol class="nav-items">
        <li class="nav-item">
          <a href="#" class="nav-link icon-mold icon-alternate">RTV Molding Casting</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link icon-machine icon-alternate">CNC Machining</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link icon-stereo icon-alternate">SLA/SLS</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link icon-bridge icon-alternate">Production Bridge</a>
        </li>
      </ol>
    </nav>
  {% endif %}
</header>
