// ------------------------------------
// reset
// ------------------------------------
* { box-sizing: border-box; }
body,
html,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

figure,
figcaption,
.figure-image {
  margin: 0;
  padding: 0;
}



// ------------------------------------
// base styling
// ------------------------------------
a {
  color: $link;
  text-decoration: none;
}
