// ------------------------------------
// Variables
// ------------------------------------

$seafoam:      rgba(103, 198, 196, 1);  // #67c6c4
$white:        rgba(255, 255, 255, 1);  // #ffffff
$lighter-grey: rgba(247, 247, 247, 1);  // #f7f7f7
$light-grey:   rgba(241, 241, 241, 1);  // #f1f1f1
$grey-green:   rgba(62, 73, 73, 1);     // #3e4949
$black:        rgba(0, 0, 0, 1);        // #000000
$purpley-grey: rgba(155, 154, 155, 1);  // #9b9a9b
$grey-brown:   rgba(74, 74, 74, 1);     // #4a4a4a

$main-footer: (
  background: transparentize($purpley-grey, .86),
  header-color: $black
);

$photo-filter: transparentize($grey-green, .7);
$link:         $seafoam;
$color1:       $grey-green;

$gutter: 20px;

// ------------------------------------
// Susy Gridding
// ------------------------------------
// How to combine Susy and Breakpoint:
// http://www.sitepoint.com/creating-responsive-grid-system-susy-breakpoint/
// ------------------------------------
// demo
$susy: (
  container: 64em,
  columns: 12,
  gutters: 1/6,
  math: fluid,
  output: float,
  gutter-position: after,
  global-box-sizing: border-box,
  debug: (
    image: show,
    color: blue,
    output: overlay,
    toggle: bottom right,
  ),
);
$bp-medium: 32em;
$bp-large: 60em;
