.page-home {
  .section-history {
    background-color: $lighter-grey;
    $nav-dot: 16px;

    .section-title {
      text-align: center;
      margin-top: 0;
    }

    .history-nav {
      position: relative;
      width: 80%;
      margin: auto;
      overflow: hidden;
      &:before {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        top: #{$nav-dot/2};
        left: 0;
        height: 1px;
        background-color: black;

      }
      strong {
        display: block;
      }
    }
    .nav-item {
      margin-top: 20px;
      display: block;
      &:before {
        position: absolute;
        display: block;
        height: #{$nav-dot};
        width: #{$nav-dot};
        top: 0;

        content: "";
        border-radius: 20px;
        background: black;

      }
      &:nth-child(2):before { left: calc(33.333333333333% - #{$nav-dot}); }
      &:nth-child(3):before { left: calc(66.666666666666% - #{$nav-dot}); }

      &:first-child {
        float: left;
        text-align: left;
        &:before { left: 0; }
      }
      &:last-child  {
        float: right;
        text-align: right;
        &:before { right: 0; }
      }
    }
    .tagline {
      clear: both;
      font-style: italic;
      margin: 22px auto;
      font-size: 110%;
      text-align: center;
    }
  }
  .section-map {
    color: $white;
    .map-address {
      border-radius: 20px;
      background-color: transparentize($grey-green, .3);
      width: 35%;
      max-width: 235px;
      padding: 10px 25px;
      margin: auto;
    }
  }
  .section-contact {
    .wrapper {
      padding: $gutter;
      color: $white;
      background-color: $grey-green;
      text-align: center;
    }
  }
}
